<footer class="container mx-auto">
  <div class="mx-auto">
      <button class="inline-block p-2" (click)="openModal('terms')">Terms and Conditions</button>
      <button class="inline-block p-2" (click)="openModal('privacy')">Privacy Policy</button>
      <p class="inline-block p-2">Copyright © Travis Mingalone 2019</p>
      <p class="inline-block p-2">Contact Us</p>
  </div>
</footer>

<jw-modal id="terms">
  <div class="bg-gray-500 p-4">
    <p class="text-2xl font-extrabold text-blue-900 text-center">Terms and Conditions</p>
    <app-terms></app-terms>
    <button (click)="closeModal('terms');">Close</button>
  </div>
</jw-modal>

<jw-modal id="privacy">
  <div class="bg-gray-500 p-4">
    <p class="text-2xl font-extrabold text-blue-900 text-center">Privacy Policy</p>
    <app-privacy></app-privacy>
    <button (click)="closeModal('privacy');">Close</button>
  </div>
</jw-modal>