<div class="container mx-auto">
  <p class="text-2xl font-bold text-blue-900 text-center p-6">About the Program</p>
  <p class="text-base text-blue-900">This is the Automated System of Personalized Real-Time Promotions that issues personal digital instant promo-coupons for registered customers via their digital devices (preferably smartphones and tablets), following optimized personalized plans.</p>
  <img src="../../assets/about-slide1.png" alt="app sample use">
  <p class="text-base text-blue-900">Using this platform you agree to receive e-mail and SMS messages from Redviser. You understand and agree that:</p>
  <ul style="list-style-type: circle; list-style-position: inside">
    <li *ngFor="let guideline of guidelines" 
        class="text-base text-blue-900">{{ guideline }}</li>
  </ul>
</div>