<div class="container bg-white mx-auto border-black">
  <div class="border-black p-2 overflow-auto">
    <h6 class="text-lg font-bold">Notes:</h6>
    <ul>
      <li class="text-sm">The Privacy Policy were last updated on May 3, 2019.</li>
      <li class="text-sm">Please read carefully before using this website. By using this website, you accept this Privacy Policy. If you do not agree to the Privacy Policy, do not use the website.</li>
    </ul>
    <br />
    <p class="text-xl font-bold">Privacy Policy</p>
    <p class="text-sm">Protecting your private information is our priority. This Statement of Privacy applies to https://redviser.com website and governs data collection and usage. For the purposes of this Privacy Policy, unless otherwise noted, all references to https://redviser.com include Redviser.com, Site and REDVISER. The REDVISER website offers the marketing services based on a web-based promotion platform, combining business know-how with programming and Artificial Intelligence expertise. By using the REDVISER website, you consent to the data practices described in this statement.</p>
    <br />
    <p class="text-base font-semibold">Collection of your Personal Information</p>
    <p class="text-sm">In order to better provide you with products and services offered on our Site, REDVISER may collect personally identifiable information about you. Such information may include but not limited by:</p>
    <br />
    <ul>
      <li class="text-sm">First and Last Name</li>
      <li class="text-sm">Mailing Address</li>
      <li class="text-sm">Email Address</li>
      <li class="text-sm">Phone Number</li>
      <li class="text-sm">Geolocation</li>
      <li class="text-sm">Historical purchase behavior</li>
    </ul>
    <br />
    <p class="text-sm">We do not collect any personal information about you, unless you voluntarily provide it to us and confirm that during registration.</p>
    <br />
    <p class="text-sm">However, you may be required to provide certain personal information to us when you elect to use certain products or services available on the Site. These may include: (a) registering for an account on our Site; (b) sending us an email or SMS/MMS message, calling by phone; (c) purchasing products and services using offers from our Site, including usage of printed and digital coupons and codes; (d) signing up for special offers from selected third parties; (e) entering a sweepstakes or contest sponsored by us or one of our partners. To wit, we will use your information for, but not limited to, communicating with you in relation to services and/or products you have from us or provided to us, and optimizing our marketing offers. We also may gather additional personal or non-personal information in the future.</p>
    <br />
    <p class="text-base font-semibold">Use of your Personal Information</p>
    <p class="text-sm">REDVISER collects and uses your personal information to operate its website(s) and deliver the services you have requested or provided. Redviser uses cookies to give you the best possible experience on the Redviser website.</p>
    <br />
    <p class="text-sm">REDVISER may also use your personally identifiable information to inform you of other products or services available from REDVISER and its affiliates.</p>
    <br />
    <p class="text-base font-semibold">Sharing Information with Third Parties</p>
    <p class="text-sm">REDVISER does not sell, rent or lease its user lists to third parties.</p>
    <br />
    <p class="text-sm">REDVISER may, from time to time, contact you on behalf of external business partners about a particular offering that may be of interest to you. In those cases, your unique personally identifiable information (e-mail, name, address, telephone number) is not transferred to the third party. REDVISER may share data with trusted partners to help perform statistical analysis, send you email or postal mail, provide customer support, or arrange for deliveries. All such third parties are prohibited from using your personal information except to provide these services to REDVISER, and they are required to maintain the confidentiality of your information.</p>
    <br />
    <p class="text-sm">REDVISER may disclose your personal information, without notice, if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on REDVISER or the site; (b) protect and defend the rights or property of REDVISER; and/or (c) act under exigent circumstances to protect the personal safety of users of REDVISER, or the public.</p>
    <br />
    <p class="text-base font-semibold">Automatically Collected Information</p>
    <p class="text-sm">Information about your computer hardware and software may be automatically collected by REDVISER. This information can include: your IP address, browser type, domain names, access times and referring website addresses. This information is used for the operation of the service, to maintain quality of the service, and to provide general statistics regarding use of the REDVISER website.</p>
    <br />
    <p class="text-base font-semibold">Links</p>
    <p class="text-sm">This website contains links to other sites. Please be aware that we are not responsible for the content or privacy practices of such other sites. We encourage our users to be aware when they leave our site and to read the privacy statements of any other site that collects personally identifiable information.</p>
    <br />
    <p class="text-base font-semibold">Security of your Personal Information</p>
    <p class="text-sm">REDVISER secures your personal information from unauthorized access, use, or disclosure. REDVISER uses the following methods for this purpose:</p>
    <br />
    <p class="text-sm">- SSL Protocol</p>
    <br />
    <p class="text-sm">When personal information is transmitted to other websites, it is protected through the use of encryption, such as the Secure Sockets Layer (SSL) protocol.</p>
    <br />
    <p class="text-sm">We strive to take appropriate security measures to protect against unauthorized access to or alteration of your personal information. Unfortunately, no data transmission over the Internet or any wireless network can be guaranteed to be 100% secure. As a result, while we strive to protect your personal information, you acknowledge that: (a) there are security and privacy limitations inherent to the Internet which are beyond our control; and (b) security, integrity, and privacy of any and all information and data exchanged between you and us through this Site cannot be guaranteed.</p>
    <br />
    <p class="text-base font-semibold">Children Under Thirteen</p>
    <p class="text-sm">REDVISER does not knowingly collect personally identifiable information from children under the age of thirteen. If you are under the age of thirteen, you must ask your parent or guardian for permission to use this website.</p>
    <br />
    <p class="text-base font-semibold">Email Communications</p>
    <p class="text-sm">From time to time, REDVISER may contact you via email, SMS/MMS message, and/or by phone for the purpose of providing announcements, promotional offers, alerts, confirmations, surveys, and/or other general communication.</p>
    <br />
    <p class="text-base font-semibold">External Data Storage Sites</p>
    <p class="text-sm"> We may store your data on servers provided by third party hosting vendors with whom we have contracted.</p>
    <br />
    <p class="text-base font-semibold">Changes to this Statement</p>
    <p class="text-sm"> REDVISER reserves the right to change this Privacy Policy from time to time. We will notify you about significant changes in the way we treat personal information by sending a notice to the primary email address or phone specified in your account, by placing a prominent notice on our site, and/or by updating any privacy information on this page. Your continued use of the Site and/or Services available through this Site after such modifications will constitute your: (a) acknowledgment of the modified Privacy Policy; and (b) agreement to abide and be bound by that Policy.</p>
    <br />
    <p class="text-base font-semibold">Contact Information</p>
    <p class="text-sm">REDVISER welcomes your questions or comments regarding this Privacy Policy. If you believe that REDVISER has not adhered to this Policy, please
      <a href="mailto:mail@redviser.com">contact Redviser</a>.
    </p>
  </div>
</div>