<div class="container mx-auto items-center">
  <h1 class="text-6xl font-bold text-blue-900 text-center p-6">Redviser</h1>
  <p class="text-2xl font-light italic text-blue-700 text-center">
    A fancy slogan could go here
  </p>
  <div class="flex content-center justify-center m-4">
    <a class="bg-blue-900 px-4 py-2 border rounded block m-4 inline-block lg:mt-0 text-teal-200 hover:text-white hover:bg-blue-700"
       routerLinkActive="active"
       routerLink="/register">
      Register
    </a>
    <a class="bg-blue-900 px-4 py-2 border rounded block m-4 inline-block lg:mt-0 text-teal-200 hover:text-white hover:bg-blue-700"
       routerLinkActive="active"
       routerLink="/login">
      Login
    </a>
  </div>
</div>