#container {
  display: grid;
  width: 100vw;
}

.imgbg {
  background: radial-gradient(292.12px at 33.06% 32.62%, #FFFFFF 0%, rgba(255, 255, 255, 0) 206.49%, rgba(255, 255, 255, 0.495692) 100%), #C8DBF7;
  background-size: cover;
  grid-column: 1/-1;
  grid-row: 1/-1;
  filter: blur(20px);
}


#container #main {
  grid-column: 1/-1;
  grid-row: 1/-1;
  z-index: 2;
}